.section{
    margin-bottom: 20px;
}

.section:first-child{
    margin-top: 0;
}

.section__title{
    color: var(--section-titile-color);
    font-weight: 600;
    font-size: 20px;
}

.products__list{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}