@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root{
  --price-color: #FFA542;
  --link-color: #000;
  --naming-color: #1C1C27;
  --logo-color: #101010;
  --section-titile-color: #838383;
  --background-color: #ffffff;
  --discount-color: #DF6464;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p{
  padding: 0;
  margin: 0;
}

ul{
  font-size: 0;
  padding: 0;
}

ol,li{
  list-style: none;
  line-height: 1;
  font-size: 17px;
}

button{
  padding: 0;
  margin: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

a:focus, 
button:focus{
  /* outline: 1px solid var(--price-color); */
  outline: 0;
  box-shadow: 0px 0px 15px var(--price-color);
}

body {
  margin: 0;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  background-color: #EAEAEA;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
